
#main-page-container {
	background-image: url('positano-italy.jpg');
	background-size: cover;
	height: 1000px; 
	margin: 0 auto;
	width: 100%;

}

.main-page-div {
    position: absolute;
    margin: 70px;
	padding: 100px;
	background: rgba(255,255,255,0.5);
	text-align: center;
    font-family: 'Esteban', serif;
}

.main-page-div h1 {
	font-size: 100px;
}


.main-page-div h3 {
	font-size: 25px;
}

.main-page-div a {
	font-size: 25px;
	color: black;
	text-decoration: none;
	padding: 5px;
}

.main-page-div a:hover{
	color: white;
    
}

.main-page-div a {
	margin: auto 0;
	text-align: center;
}

.country-list {
	text-align: left;
	padding: 0px 0px 0px 160px;
}
/* SHOW COUNTRY PAGES */

#story-container {
	background-size: cover;
	height: 1000px; 
	margin: 0 auto;
	width: 100%;

}

.country-main-div {
    position: absolute;
    margin: 70px;
	padding: 100px;
	width: 75%;
	background: rgba(255,255,255,0.7);
	text-align: center;
    font-family: 'Esteban', serif;
}


.country-main-div h1 {
	font-size: 100px;
}

/* STORY INPUT */

#story_body_input {
	width: 350px;
}

/* STORY TEMPLATE */
#story_list {
	text-align: center;
}

#story_list h3 {
   font-size: 25px;
}

#story_list p {

}



/* FOOTER */

#footer {
	background-image: url('panoramic-hongkong.jpg');
	background-size: cover;
	
}

.footer-box {
	padding: 20px;
   	background: rgba(255,255,255,0.5);
    font-family: 'Esteban', serif;

}

.footer-box h3 {
  position: relative;
  font-size: 25px;

}

.footer-box a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}

.footer-box a:hover{
	color: white;
    
}

