/* TAQQUI */
html, body {
	
	min-height: 100%;
}
#main-page-container {
	background-image: url('positano-italy.jpg');
	background-size: cover;
	margin: 0 auto;
	height: 1000px; 

    /*width: 1245px;*/
	width: 100%;
}

@media (max-width: 1100px){
    #main-page-container{
    width: 1100px;
    }
}

.main-page-div {
    /*position: absolute;*/
	margin: 0px auto;
	position: relative;
	top: 70px;
    /*margin: 70px;*/
	padding: 100px;
	background: rgba(255,255,255,0.5);
	text-align: center;
    font-family: 'Esteban', serif;
    width: 1100px;
}

.main-page-div h1 {
	font-size: 100px;
}


.main-page-div h3 {
	font-size: 25px;
}

.main-page-div a {
	font-size: 25px;
	color: black;
	text-decoration: none;
	padding: 5px;
}

.main-page-div a:hover{
	color: white;
    text-decoration: none;
}

.main-page-div a {
	margin: auto 0;
	text-align: center;
}

.country-list {
	text-align: left;
	padding: 0px 0px 0px 100px;
}
/* SHOW COUNTRY PAGES */

#story-container {
	/*background-color: transparent;*/
	background-size: cover;
	background-repeat: repeat-y;
	
	margin: 0 auto;
	width: 100%;

    /* set dimensions */ 
	/*height: 1000px;*/
	height: 100%;
	padding-bottom: 100px;
	/*width: 1245px;*/

}

.country-main-div {
/*position: absolute;*/
	position: relative;
	top: 60px;
    margin: 95px;
	padding: 100px;
	/*width: 80%;*/
	background: rgba(255,255,255,0.7);
	text-align: center;
    font-family: 'Esteban', serif;
	margin-top: 0px;
    /* Set Dimensions */
    /*width: 1000px;*/
}


.country-main-div h1 {
	font-size: 100px;

}

@media (max-width: 800px) {
	.country-main-div {
		width: 600px;
	}
}

/* STORY INPUT */

#story_body_input {
	width: 350px;
}

/* STORY TEMPLATE */
#story_list {
	text-align: center;
}

#story_list h3 {
   font-size: 25px;
}

#story_list p {

}



/* FOOTER */

#footer {
	background-image: url('panoramic-hongkong.jpg');
	background-size: cover;
	width: 1350px;
}

.footer-box {
	padding: 20px;
   	background: rgba(255,255,255,0.5);
    font-family: 'Esteban', serif;

}

.footer-box h3 {
  position: relative;
  font-size: 25px;

}

.footer-box a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}

.footer-box a:hover{
	color: white;
    
}




/* NAV */


#nav{
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    /* Clear floats */
    float:left;
    width:100%;
   /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */

}
#nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a{
    display:block;
    padding:4px;
    color:#fff;
    background:#333;
    text-decoration:none;
}
#nav a:hover{
    color: white;
    background: black;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
    background:#fff;/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
	color: black;
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: black;
    text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
    background: rgba(255,255,255,0.5)
}
/*#nav li:hover ul li a:hover{  Here we define the most explicit hover states--what happens when you hover each individual link. 
    background:#333;
}*/

#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}


/* places */



#places{
	display: inline;
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    /* Clear floats */
    float:left;
    width:100%;
   /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
    position:relative;
    z-index:5;
}
#places li{
    float:left;
    margin-right:10px;
    position:relative;
}
#places li a{
    display:block;
    padding:4px;
    color: black;
    /*background:#333;*/
    text-decoration:none;
    background: rgba(255,255,255,0.5)
}
#places li ul li a:hover{
    color: white;
    
    
}

/*--- DROPDOWN ---*/
#places ul{
    background:#fff;/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#places ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#places ul a{
	color: black;
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#places li ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#places li a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    text-decoration:none;
    background: rgba(255,255,255,0.5)
}
#places li ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
    background: rgba(255,255,255,0.5)
}
/*#nav li:hover ul li a:hover{  Here we define the most explicit hover states--what happens when you hover each individual link. 
    background:#333;
}*/

#places ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}



/* test */

.sign_in_up{
	float: left;
	margin-left: 3px;
}

.signedin{
	float: left;
	margin-left: 3px;
}


