
<div id="main-page-container">

  <div class="main-page-div animated fadeIn">

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

  <br>
    <h3><a href="/">Click here to return to the Home Page</a></h3>
  </div>
 </div>