<!DOCTYPE html>
<html>
<head>
  <title>AroundTheWorld</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script src="/javascripts/underscore.js"></script>
  <script src="/javascripts/backbone.js"></script>
  <script src="/javascripts/app.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


</head>
<body>

<%= yield %>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
